include(cura.jinja)

[settings]
build_type=Debug
*:build_type=Release
*@ultimaker/*:build_type=Debug
{% if compiler == visual_studio %}
    compiler.runtime=MDd
	Arcus:build_type=Release
	Arcus:compiler.runtime=MD
{% endif %}