include(default)

[build_requires]
cmake/[>=3.16.2]
{% if platform.system() == "Windows" %}
    {% raw %}
    CuraEngine:mingw_installer/1.0@conan/stable
    CuraEngine:mingw-w64/8.1
    {% endraw %}
{% endif %}

[settings]
os={{ {"Darwin": "Macos"}.get(platform.system(), platform.system()) }}
os_build={{ {"Darwin": "Macos"}.get(platform.system(), platform.system()) }}
arch=x86_64
arch_build=x86_64
compiler.cppstd=17
{% if platform.system() == "Windows" %}
    {% raw %}
    CuraEngine:compiler=gcc
    CuraEngine:compiler.version=8.1
    CuraEngine:compiler.libcxx=libstdc++11
    CuraEngine:compiler.threads=posix
    CuraEngine:compiler.exception=seh
	cmake:compiler=Visual Studio
	cmake:compiler.cppstd=17
	cmake:compiler.runtime=MD
	cmake:compiler.toolset=v142
    cmake:build_type=Release
    {% endraw %}
{% endif %}
{% if compiler == "gcc" %}
    compiler.libcxx=libstdc++11
{% elif compiler == "apple-clang" %}
    compiler.libcxx=libc++
{% elif compiler == "Visual Studio" %}
	compiler.toolset=v142
{% endif %}
[options]

[env]

[conf]
tools.cmake.cmaketoolchain:find_package_prefer_config=True
{% if compiler == "Visual Studio" %}
	tools.microsoft.msbuild:vs_version=compiler.version
{% endif %}